* {
  box-sizing: border-box;
}

html,body {
  margin:0;
  padding:0;
}

/* Side Nav */


@media screen and (max-width: 1000px) {
  .side-header {
    display: none;
  }

}

@media screen and (min-width: 1000px) {
  .top-header {
    display: none;
  }
}

.top-header {
  height: 5%;
  width: 100%;
  background-color: rgb(7, 14, 56);
  position: fixed;
}

.side-header {
height: 100%;
background-color: rgb(7, 14, 56);
position: fixed;
}

.inner-side-header {
display: flex;
flex-direction: column;
align-items: center;
padding: 35px;
height: 100%;
position: relative;
}

.name-title, .subtitle, nav, .nav-home, .nav-link {
color: rgb(225, 244, 255);
font-family: 'Didact Gothic', sans-serif;
text-decoration: none;
}

.name-title {
margin-bottom: 0;
}

.subtitle {
margin-top: 5px;
}

.title-container {
display: flex;
flex-direction: column;
align-items: center;
}

.nav-link:hover {
  color: white;
  font-weight: bold;
}
  
.nav-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  line-height: 35px;
  margin: 40px -40px;
} 
  
.head-shot {
  width: 155px;
  height: 155px;
  border-radius: 50%;
}

.contactlinks {
  padding: 20px;
  display: flex;
  }
  
  .contactlinks a:link, .contactlinks a:visited {
  color: rgb(225, 244, 255);
  font-size: 25px;
  padding: 5px;
  text-decoration: none;
  line-height: 26px;
  }
  
  .contactlinks a:hover {
  font-size: 27px;
  color: white;
  }
  
/* Body */

body {
background-color: rgb(235, 245, 252);
color: rgb(7, 14, 56);
}

main {

margin-left: 25%;
display: flex;
flex-direction: column;
}

#aboutme, #projects {
  display: flex;
  flex-direction: column;
  padding: 25px;
}

main h2 {
  font-size: 18px;
  font-family: 'Didact Gothic', sans-serif;
  text-align: center;
  line-height: 2;
}

main section {
font-size: 16px;
font-family: 'arimo', sans-serif;
}

.projects-container {
text-align: center;
display: flex;
flex-direction: column;
justify-content: space-between;
margin: auto;
}

.img-container {
margin: auto;
width: 90%;
padding: 10px;
}

.app-ss {
width: 100%;
height: auto;
}

.app-link, .github-link {
text-decoration: none;
color: rgb(11, 62, 109);
}

.app-link:hover, .github-link:hover {
color: rgb(66, 28, 102);
font-weight: bold;
}
