#aboutme {
    display: flex;
    flex-direction: column;
    padding: 25px;
    text-align: center;
  }

.about-title {
    font-size: 25px;
    font-family: 'Didact Gothic', sans-serif;
    line-height: 2;
  }

.link-from-about {
    color: rgb(7, 14, 56);
}

.link-from-about:hover {
    font-weight: bold;
}