#aboutme {
    display: flex;
    flex-direction: column;
    padding: 25px;
    text-align: center;
  }

.about-title {
    font-size: 25px;
    font-family: 'Didact Gothic', sans-serif;
    line-height: 2;
  }

.link-from-about, .link-to-resume {
  margin-top: 10px;
  color: rgb(7, 14, 56);
}

.link-from-about:hover, .link-to-resume:hover {
    font-weight: bold;
}